* {
    background: gainsboro;
}
body {
    margin: 0;
    padding: 0;
}
.angry {
    display: flex;
}
.only img {
    margin-bottom: 64px;
    margin-left: 20px;
    margin-top: 20px;
    min-height: 70vh;
    width: 70vh;
    border: 3px solid ;
}
.only p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding-top: 17px;
}
form {
    float: right;
    margin: 20px 150px;
}
label {
    color: brown;
    font-size: 30px;
}
input {
    border-radius: 10px;
    width: 100%;
    height: 20px;
    background: #ffff;
    font-weight: 600;
    color: green;
}
footer {
    background: rgb(27, 27, 27);
    color: aquamarine;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
.radio {
    display: flex;
}
.radio input {
    width: auto;
    accent-color: green;
    margin: 14px;
}
#hoverr {
    width: 50%;
    border: double;
    outline: 0;
    display: flex;
    margin-left: 100px;
    padding-left: 90px;
    padding-bottom: 16px;
}
#hoverr:hover {
    background: green;
    color: white;
}
.form textarea {
    background: #ffff;
    border-radius: 10px;
    padding: 8px;
    color: green;
}