* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body {
    background: gainsboro;
}
.news {
    width: 100%;
    display: flex;
    overflow: auto;
}
.news span {
    background: #fcfcfc;
    color: black;
    padding: 2.5px 5px 5px;
    text-align: center;
    font-size: 20px;
    width: 300px;
    border-bottom: 1px solid;
}
.news marquee {
    background: black;
    color: aquamarine;
    padding-top: 7.5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
    display: flex;
    background: #fff;
}
nav {
    overflow: auto;
    margin: 1em auto auto 24em;
}
ul {
    list-style: none;
}
li {
    float: left;
}
li a {
    text-decoration: none;
    color:  rgb(66, 133, 133);
    padding: 9px;
    background: none;
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
    display: block;
    margin: auto 2px;
}
.container ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: purple;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.container ul li:hover::after{
    width: 100%;
}
li a:active {
    color: yellow;
}
.container img {
    width: 70px;
    height: 70px;
}
.container h1 {
    padding: 20px;
    font-size: 30px;
    font-weight: 700;
    color: darkslategray;
}.every {
    margin: 20px 23px;
    overflow: auto;
}
.box {
    float: left;
    margin: 20px 90px 20px 55px;
    display: block;
}
.box:hover {
    opacity: .8;
}
.every .box a img {
    border: 5px outset grey;
    width: 286px;
    height: 220px;
    cursor: pointer;
}
.text {
    overflow: none;
    color: brown;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-bottom: 7px;
}
footer {
    background: rgb(27, 27, 27);
    color: aquamarine;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
#next {
    float: right;
    background: rgb(66, 133, 133);
    border-radius: 15px;
    margin-top: 7%;
    margin-right: 8%;
}
#next a {
    color: cornsilk;
    text-align: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: bold;
}

#next a:hover {
    color: red;
    font-weight: bold;
    border-radius: 15px;
}
#next a:active {
    color: yellow;
}